<%=link_to "View All Categories",categories_path %>
<div style="padding: 10px; margin: 10px; background-color: #efefef; border: 2px solid #aaa">
<strong><%= @category.name %></strong>
<br/>


<small>Published on: <%= @category.created_at %></small>
</div>

<%= link_to "edit this", edit_category_path(@category)%>
<%= link_to "Delete This one",category_path(@category) , :method=>:delete , :data=>{:confirm=>"Are you sure ?"} %>  
